<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      </head>
    <body>
        <div class="flex container">
            <div class="jumbotron text-center"
              style="background-image: url('C:\Users\yjagilanka\Downloads\NAINA-development\templates\musicmix.png');">
              <h1>Wave Weave</h1>
              <p>Data Collection tool for Wave Weave.Mention your Name at NAINA if you want to get it delivered for your
                Telegram</p>
              <p>If any issues contact Yash</p>
            </div>
        <div style="text-align-last: center;font-size: x-large;">
        <a href="/" style="align-items: center;" class="btn btn-primary btn-lg">Request Success, Please click to go for another song</a>
    </div>
    </body>
</html>